# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
tmp/
temp/
.cache/
*.cache

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage reports
coverage/

# Jest test results
jest-results.json

# Yarn specific files
.yarn-integrity
.yarn/

# npm cache
.npm/
